{% load static %} {# Tambahkan ini di bagian paling atas untuk mengaktifkan tag 'static' #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hotel{% endblock %}</title>
    <link rel="icon" href="{% static 'images/icon.png' %}"  sizes="128x128" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Navbar-->
    {% if '/login/' not in request.path and '/register/' not in request.path %}
        {% include 'layout/navbar.html' %}
    {% endif %}

    <!--Konten Website-->
    {% block content %}{% endblock %}

    <!--footer-->
    {% if '/login/' not in request.path and '/register/' not in request.path %}
        {% include 'layout/footer.html' %}
    {% endif %}

    <!--untuk File JavaScript -->
    {% block extra_js %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</body>
</html>